*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  font-family: "Outfit", sans-serif;
  margin: 0;
}
:root {
  --Grayish-blue: hsl(220, 15%, 55%);
  --Light-gray: hsl(212, 45%, 89%);
}
body {
  font-size: calc(15px + 0.390625vw);
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
}
.box {

  font-size: calc(15px + 0.390625vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: aqua;
  border-radius: 50%;
  background: rgba(0, 0, 0, 1);
  position: relative;
  height: 40%;
  width: 40%;
  transition: 2s;
}
.para-box {
  font-stretch: condensed;
  font-size: calc(15px + 0.390625vw);
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.time {
  
  font-stretch: condensed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  font-size: calc(15px + 0.390625vw);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 20px;
}
.smile-box {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
}
.smile {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-radius: 50px;
  background-color: aqua;
  height: 100px;
  width: 100px;
  flex-wrap: wrap;
  transition: 1s;
}
.left-eye {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 15px 5px;
  transform: rotate(45deg);
  transition: 0.2s;
}
.right-eye {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 15px 5px;
  transform: rotate(45deg);
  transition: 1s;
}
.mouth {
  position: relative;

  margin-right: 1px;
  background-color: black;
  height: 20px;
  width: 23px;
  border-radius: 5px 5px 10px 10px;
}
.tongue {
  margin-left: 2px;
  margin-top: 5px;
  background-color: rgb(221, 7, 42);
  height: 15px;
  width: 20px;
  border-radius: 5px 5px 10px 10px;
  transition: 0.3s;
}
/* .smile:hover .left-eye {
  height: 1px;
  transform: rotate(0deg);
  border-radius: 0px;
} */
/* .smile:hover .right-eye {
  height: 1px;
  transform: rotate(0deg);
  border-radius: 0px;
} */
.smile:hover .tongue {
  height: 30px;
}
.pupil {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  transition: 0.3s;
  transform: rotate(-45deg);
}
.smile:hover .pupil {
  height: 1px;
}
.iris {
  background-color: black;
  height: 5px;
  width: 5px;
  border-radius: 2.5px;
  transition: 1s;
}
.smile:hover .iris {
  height: 1px;
}
.box:hover {
  background: rgba(0, 0, 0, 0.5);
}



